<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://user-images.githubusercontent.com/84774608/132191553-626a0347-01b5-463e-94e0-eaf8b228da35.png" %>
    <% end %>
  <div class="addyudget">
    <h4><u><%= link_to "ADD A YUDGET", new_place_path %></u></h4>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
      <%= image_tag "https://w7.pngwing.com/pngs/178/595/png-transparent-user-profile-computer-icons-login-user-avatars.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "LIKED YUDGETS", likedplaces_path, class: "dropdown-item" %>
          <%= link_to "MAP", map_path, class: "dropdown-item" %>
      <% if user_signed_in? %>
          <%= link_to "LOG OUT", destroy_user_session_path, class: "dropdown-item", method: :delete %>
        </li>
      <% else %>
          <%= link_to "LOGIN", new_user_session_path, class: "dropdown-item " %>
        </li>
      <% end %>
      </div>
      </li>
    </ul>
  </div>
</div>
