<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://user-images.githubusercontent.com/84774608/132191553-626a0347-01b5-463e-94e0-eaf8b228da35.png" %>
    <% end %>
  <div class="addyudget">
    <h4><u><%= link_to "ADD A YUDGET", new_place_path %></u></h4>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
            <h4 class="nav-darkblue"><u><%= link_to "LOG OUT", destroy_user_session_path, class: "nav-link ", method: :delete %></u></h4>
        </li>
      <% else %>
        <li class="nav-item">
          <h4 class="nav-darkblue"><u><%= link_to "LOGIN", new_user_session_path, class: "nav-link " %></u></h4>
        </li>
      <% end %>
    </ul>
  </div>
</div>
