<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-sm-offset-8">
      <div class="form-new-yudget">
          <h1>Add a Yudget place to the community</h1>
            <%= simple_form_for (@place) do |c| %>
              <%= c.input :name, placeholder: 'What is the name of the Yudget?' %>
              <%= c.input :category, collection:['food', 'nightlife', 'activities', 'shopping', 'services'], placeholder: 'Whats is the category for your Yudget?' %>
              <%= c.input :description, placeholder: 'Leave a description of this place and maybe advise or good options regarding it as well (min. 200 characters)',input_html: { minlength: 200, maxlength: 405  } %>
              <%= c.input :summary, placeholder: 'Briefly state the reasons for going to this yudget',input_html: { maxlength: 100 } %>
              <%= c.input :address, placeholder: 'Please enter the full address of your Yudget' %>
              <%= c.input :photo, as: :file %>
              <%= c.submit 'Create new Yudget' , class: 'btn btn-primary' %>
            <% end %>
      </div>
    </div>
  </div>
</div>
