<div id="show">
  <div class="card p-3 shadow" style=" max-width: 80%;">
      <div class="mt-5 text-center">
        <h1> <%= @place.name %></h1>
      </div>
      <span class="mt-1 text-end">
            <% if current_user.liked?(@place, :spot => @location) %>
                <div><%= link_to unvote_place_path(@place, :spot => @location),  method: :put, remote: true do%>
                <i class="fas fa-caret-up fa-5x"></i></div> <% end %>
              <% else %>
                <div><%= link_to upvote_place_path(@place, :spot => @location), method: :put, remote: true do%>
                <i class="fas fa-caret-up fa-5x"></i></div><% end %>
            <% end %>
        <span class="total_upvotes">
          <%= @place.get_upvotes.size %>
        </span>
      </span>
      <div class="d-flex justify-content-evenly align-items-center">
      <div class="row p-5">
          <div class="col-lg-6 mb-5 p-3">
            <% if @place.photo.attached? %>
              <%= cl_image_tag @place.photo.key, class: "w-100"%>
            <% else  %>
            <img src="https://media.timeout.com/images/103070427/image.jpg"  class="place-img-top w-100" alt="...">
            <% end %>
          </div>
          <div class="col-lg-6 p-3">
            <h3> <%= @place.description %></h3>
          </div>
        </div>
      </div>
          <div class="text-center">
            <h1 class="btn btn-primary"> <%= link_to "#{@place.address}", "https://maps.google.com/?q=#{@place.address}", :target => "_blank",style:"color: white; text-decoration: none;" %></h1>

          <h4 class="text-muted"> <%= (@place.distance_to(@location) * 1000).round %> meters away</h4>
          </div>
        <div>
          <p> <small class="text-muted">uploaded by:<%= @place.user.username %></small></p>
        </div>
      </div>
  </div>
</div>
