<div id="show">
  <div class="card p-3 shadow" style=" max-width: 80%;">
      <div class="d-flex justify-content-center mt-2">
        <h1 id="youdget"> <%= @place.name %></h1>
        <div id="upvote">
              <% if current_user.liked?(@place, :spot => @location) %>
                  <div><%= link_to unvote_place_path(@place, :spot => @location),  method: :put, remote: true do%>
                  <i class="fas fa-heart fa-3x"></i></div> <% end %>
                <% else %>
                  <div><%= link_to upvote_place_path(@place, :spot => @location), method: :put, remote: true do%>
                  <i class="far fa-heart fa-3x"></i></div><% end %>
              <% end %>
          <div id="vote_counter"class="total_upvotes">
            <%= @place.get_upvotes.size %>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-evenly align-items-center mt-2">
      <div class="row p-4">
          <div class="col-lg-6 p-4">
            <% if @place.photo.attached? %>
              <%= cl_image_tag @place.photo.key, class: "w-100"%>
            <% else  %>
            <img src="https://media.timeout.com/images/103070427/image.jpg"  class="place-img-top w-100" alt="...">
            <% end %>
          </div>
          <div class="col-lg-6 p-4 justify-content-center">
            <h3> <%= @place.description %></h3>
          </div>
        </div>
      </div>
          <div class="text-center">
            <h1 class="btn btn-primary"> <%= link_to "#{@place.address}", "https://maps.google.com/?q=#{@place.address}", :target => "_blank",style:"color: white; text-decoration: none;" %></h1>

          <h4 class="text-muted mb-2"> <%= (@place.distance_to(@location) * 1000).round %> meters away</h4>
          </div>
      </div>
  </div>
</div>
